.footer-container {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
  background-color: var(--bg);
}
.footerTop-container {
  /* border: solid blue; */
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 10px;
}
.footerContact-container {
  /* border: solid green; */
  padding: 20px;
}
.footerTiming-container {
  /* border: solid yellowgreen; */
  padding: 20px;
}
.footerTiming-container > table {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.footerTiming-container > table > tbody > tr > td {
  margin: 5px;
  font-weight: 500;
  color: var(--customColor2);
}
.footerTiming-container > table > tbody > tr > td:nth-child(1) {
  color: var(--customColor1);
}
.footerTiming-container > table > tbody > tr {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.footerTiming-container h4 {
  color: var(--customColor2);
}
.footerMap-container {
  /* border: solid brown; */
  width: 500px;
  height: 300px;
}
.footerMap-container > iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.footerContact-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  width: 300px;
}
.footerContact-container > h4 {
  color: var(--customColor2);
}
.footerContact-container > ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}
.footerContact-container > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footerContact-container > ul > li > span {
  font-size: 25px;
  color: var(--customColor4);
}
.footerContact-container > ul > li > a {
  color: var(--customColor2);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.footerBelow-container {
  border-top: solid grey 1px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-weight: 500;
}
.socialIcon {
  font-size: 30px;
  color: var(--customColor4);
}
.footerSocial-container {
  /* border: solid; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 200px;
}
.footerSocial-container > h4 {
  color: var(--customColor2);
}
.footerSocial-container > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .footerTop-container {
    /* border: solid blue; */
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .footer-container {
    /* border: solid red; */
    padding: 10px;
  }
  .footerMap-container {
    /* border: solid brown; */
    width: 100%;
    height: 300px;
  }
  .footerSocial-container {
    /* border: solid; */
    width: 100%;
  }
}
